@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

@import "./utils/variables";
@import "./utils/mixins";

@import "./components/header";
@import "./components/header-nav";
@import "./components/header-buttons";
@import "./components/hero";
@import "./components/mobile-menu";
@import "./components/gallery";
@import "./components/footer";
@import "./utils/extends";

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
