.gallery {
    padding-right: 7.8%;
    padding-left: 7.8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gallery__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__container-img {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 8px;

    .gallery_img-small {
        width: 100%;
        height: auto;
    }
}

.gallery__container-img--img2 {
    .gallery_img-big {
        width: 100%;
        height: auto;
    }

    .gallery_img-small {
        width: 48.76%;
        height: auto;
    }
}

.gallery__container-img--img3 {
    margin-top: 10px;
}

.gallery__container-img--img4 {
    margin-bottom: 25px;
}

.gallery_img-small--img1 {
    @extend .position-center-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img2 {
    @extend .position-botton-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img3 {
    @extend .position-botton-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img5 {
    @extend .position-center-left;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img6 {
    @extend .position-botton-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img7 {
    @extend .position-center-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img8 {
    @extend .position-botton-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img9 {
    @extend .position-top-right;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-small--img10 {
    @extend .position-center-left;

    &:hover {
        transform: scale($scale);
    }
}

.gallery_img-big--img4 {
    @extend .position-botton-right;

    &:hover {
        transform: scale($scale);
    }
}

@media screen and (max-width: 1199px) {

    .gallery {
        padding-right: 0%;
        padding-left: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}