.hero{
  background-color: $color-hard-pink;

  .hero__container{
    // @include flex(center, space-between);
    @include container;
    padding-top: 150px;

    .hero__title{

      
      .hero__title--white{
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: $color-white;
        margin: auto;
      }

      .hero__title--red{
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 60px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: $color-primary;
        margin: 0 0 24px 0;
      }
    }
  }
}