.position-center-left {
    transform-origin: center left;
    transition-property: transform;
    transition-duration: $duration;
}
.position-center-right {
    transform-origin: center right;
    transition-property: transform;
    transition-duration: $duration;
}
.position-botton-right {
    transform-origin: bottom right;
    transition-property: transform;
    transition-duration: $duration;
}
.position-top-right {
    transform-origin: top right;
    transition-property: transform;
    transition-duration: $duration;
}