@mixin container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin screen-480 {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin screen-768 {
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-1280 {
  @media only screen and (min-width: 1280px){
    @content;
  }
}