// --Colors--

$color-white: #ffffff;
$color-black: #000000;
$color-primary: #d41443;
$color-button-hover: #ecebeb;
$color-hard-pink: #ffb8ca;
$color-dark-pink: #ffa5ba;
$color-menu-mobile: #e17992;
$color-footer: #FFF5F6;
$color-footer-button: #d41342;
$color-social-link: #fea5bb;

    // Products

$color-rose: #FFB8CA;
$color-yellow: #F0D1A5;
$color-green: #C2E297;
$color-white: #FFFFFF;
$color-red-title: #D41443;
$color-rose-title: #FFA5BA;

// Gallery variables
$scale: 1.15;
$duration: 1s;
