// --Colors--

$color-white: #ffffff;
$color-primary: #D41443;
$color-button-hover: #ECEBEB;
$color-hard-pink: #FFB8CA;
$color-dark-pink: #FFA5BA;

$color-rose: #FFB8CA;
$color-yellow: #F0D1A5;
$color-green: #C2E297;
$color-white: #FFFFFF;
$color-red-title: #D41443;
$color-rose-title: #FFA5BA;

// Gallery variables
$scale: 1.15;
$duration: 1s;

